body {
	background-color: #4889AA;
}

#calc {
	margin: 0 auto;
	margin-top: 100px;
	width: 250px;
	height: 300px;
	-webkit-box-shadow: inset 0px 0px 54px -1px rgba(0,0,0,0.67);
	-moz-box-shadow: inset 0px 0px 54px -1px rgba(0,0,0,0.67);
	box-shadow: inset 0px 0px 35px -1px rgba(0,0,0,0.67);
	border-radius: 20px;
}

#user-interface {
	margin: 0 auto;
}

span {
	margin-top: 5px;
	margin-left:
}

#display {
	border-style: solid;
	border-width: .5px;
	height: 30px;
	width: 205px;
	margin: 20px;
}

.btn {
	width: 50px;
}

.row {
	margin: 0 auto;
}

.header {
	color: #C0D1D4;
	text-align: center;
}