@font-face {
    font-family: 'weathertimeregular';
    src: url('../weatherIcons/weathertime-webfont.woff2') format('woff2'),
         url('../weatherIcons/weathertime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shaky_hand_some_comicregular';
    src: url('../fonts/shaky_hand_some_comic-webfont.woff2') format('woff2'),
         url('../fonts/shaky_hand_some_comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #2c3e50;
	color: white;
}

#icon {
	font-family: 'weathertimeregular';
	font-size: 70px;
	font-weight: bold;
}

#city{
	font-family: 'shaky_hand_some_comicregular';
	font-size: 50px;
}

#title {
	font-family: 'shaky_hand_some_comicregular';
	font-size: 70px;
}